[defaults]
inventory = inventory/hosts
host_key_checking = False
deprecation_warnings = False
retry_files_enabled = False
vault_password_file = .vault_pass
interpreter_python = auto_silent
roles_path = roles

[persistent_connection]
connect_timeout = 30
command_timeout = 60

[paramiko_connection]
host_key_auto_add = True
